
#dropdown ul,
#dropdown li {
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  text-decoration: none;
  color: #3724a5;
}

//Navigation menu
.nav-item1 {
  padding: 1em;
  display: inline;
}

//Dropdown menu
.nav-item-dropdown {
  position: relative;
  
  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}



.dropdown-menu {
  background-color: #1f1f1f;
  display: inline-block;
  text-align: right;
  position: absolute;
  //top: 2.5rem;
  //right: -10px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease; 
  width: 160px;

  a {
    color: #fff;
  }
}

.dropdown-menu-item {
  cursor: pointer;
  padding: 1em;
  text-align: center;
  height: 55px;
  &:hover {
    background-color: darken(#000000, 5%);
  }
}

#social-text {
    height: 40px;
    text-align: center;
}

.sm-ico {
    width : 2.5vw;
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
    //filter: drop-shadow(1px 0 0 white) 
    //drop-shadow(0 1px 0 white)
    //drop-shadow(-1px 0 0 white) 
    //drop-shadow(0 -1px 0 white);
  }